<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <title>Ur Hotel</title>
</head>

<body>
    <header>
        <h2 class="logo">UrHotel</h2>
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/">About</a>
            <a href="/categories">Types</a>
            <a class="contact-link" href="/">Contact</a>
            <button class="btnLogin-popup">Login</button>
        </nav>
    </header>
    
    <div class="wrapper ">
        <span class="icon-close">
            <ion-icon name="close-outline"></ion-icon>
        </span>

        <div class="form-box login">
            <h2>Login</h2>
            <form action="/register" method="POST"></form>
            <div class="input-box">
                <span class="icon"><ion-icon name="mail"></ion-icon></span>
                <input type="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <span class="icon"><ion-icon name="lock-closed"></ion-icon></span>
                <input type="password" required>
                <label>Password</label>
            </div>
            <div class="remember-forgot">
                <label><input type="checkbox">Remember me</label>
                <a href="#">Forgot Password?</a>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="login-register">
                <p>Don't have an account? <a href="#" class="register-link">Register</a></p>
            </div>
        </div>

        <div class="form-box register  " >
            <h2>Registration</h2>
            <form action="/register" class="row g-3" method="POST" >
                <div class="input-box col-md-6">
                    <span class="icon"><ion-icon name="fullName"></ion-icon></span>
                    <input type="text" name="fullName" required >
                    <label>Full Name</label>
                </div>
                <div class="input-box col-md-6">
                    <span class="icon"><ion-icon name="username"></ion-icon></span>
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                <div class="input-box col-md-6">
                    <span class="icon"><ion-icon name="gender"></ion-icon></span>
                    <input type="text" name="gender"  required>
                    <label>Gender</label>
                </div>
                <div class="input-box col-md-6">
                    <span class="icon"><ion-icon name="dateOfBirth"></ion-icon></span>
                    <input type="date" name="dateOfBirth" required>
                    <label>Date of Birth</label>
                </div>
                <div class="input-box col-md-6">
                    <span class="icon"><ion-icon name="address"></ion-icon></span>
                    <input type="text" name="address" required>
                    <label>Address</label>
                </div>
                <div class="input-box col-md-6">
                    <span class="icon"><ion-icon name="nik"></ion-icon></span>
                    <input type="text" name="nik" required>
                    <label>NIK</label>
                </div>
                <div class="input-box col-md-6">
                    <span class="icon"><ion-icon name="email"></ion-icon></span>
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box col-md-6">
                    <span class="icon"><ion-icon name="password"></ion-icon></span>
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <div class="remember-forgot col-md-12" style="margin: 0%;">
                    <label><input type="checkbox">I agree to the terms & conditions</label>
                </div>
                <button type="submit" class="btn" style="margin: 0%;">Register</button>
                <div class="login-register">
                    <p>Already have an account? <a href="#" class="login-link">Login</a></p>
            </form>
            
            </div>
        </div>
    </div>

    <script src="/scripts/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <%- include("_links.ejs") %>    
</body>

</html>